<!DOCTYPE html>
<html>
<head>
    <title>EMI Loan Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        .container {
            margin-top: 50px;
            width: 500px;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 0px 10px 1px rgb(123, 114, 114);
            background-color: rgb(123, 114, 114);
        }

        #result {
            margin-top: 50px;
            font-size: 24px;
            text-align: center;
            display: flex;
        }
    </style>
</head>

<body style="background-color: beige;">


    <script>
    $(document).ready(function() {
        $("#emibtn").click(function () {
            loanAmount= $("#loanAmount").val();
            loanType= sessionStorage.getItem("type");
            loanTime= $("#loanTerm").val();
            if(loanAmount>500000){
                $('#loan-amount-error').text('Loan amount cannot be greater than 5 lakh.');
                return false;
            }
            $.get("http://localhost:8082/loan/scheme/"+loanType,function (rateOfInterest) {
                alert("Rate Of Interest for this loan is:"+rateOfInterest)
                interest = (loanAmount * (rateOfInterest * 0.01)) / loanTime;
                emi = ((loanAmount/loanTime) + interest).toFixed(2);
                totalRepayableAmount=(emi*loanTime);

                $("#emi").text("The total EMI  is Rs:" + emi);
                $("#repayamount").text("The total amount to be paid is Rs:" + totalRepayableAmount);


            })
        });

    });

</script>




<div class="justify-content-center d-flex ">
    <h1 style="font-family:Times New Roman;"> <img  class="me-4" src="/images/BankLogo.jpg" width="150px" height="100px"/>UNITY BANK</h1>
</div>
<div class="container col mt-4 p-5  ">
    <h1> EMI Calculator</h1>

    <form id="loan-form" >
        <div class="form-group">
            <label for="loanAmount">Loan Amount</label>
            <input type="number" class="form-control" id="loanAmount" placeholder="Enter Loan Amount">
        </div>
        <div class="form-group">
            <label for="loanTerm">Loan Term (in months)</label>
            <input type="number" class="form-control" id="loanTerm" placeholder="Enter Loan Term in Months">
        </div>

        <div class="text-center">
            <button type="button" id="emibtn" class="btn btn-primary mt-3">Calculate EMI</button>
        </div>
    <div id="loan-amount-error" style="color: red;"></div>

    <p id="emi"></p>
    <p id="repayamount"></p>
    </form>
</div>
</body>
</html>
