<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banker Portal</title>
<!--    bootstrap links-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<!--    link for AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        body{
            /*background colour for page*/
            background:linear-gradient(45deg,rgb(190, 109, 224),black);
        }
        #fm{
            /*background colour for form*/
            background:linear-gradient(90deg,rgb(228, 193, 193),skyblue);
            color:beige;
        }
        .required::after{
            content:"*" ;
            color: red;
            font-size: 20px;

        }
    </style>
</head>

<body>
<script>
    function numberValidationFunc()
    {
        var input = document.getElementById("#password").value;
        var pattern = /^[0-9]+$/;
        if(input.match(pattern))
        {
            document.getElementById("#error").innerHTML ="Correct Format";
            return true;
        }
        else
        {
            document.getElementById("#error").innerHTML ="Enter Numeric value";
            return false;
        }
    }
</script>
<!--<div class="container">-->
    <div class=" justify-content-center d-flex">
<!--        logo and bank name-->
        <h1 style="font-family:Times New Roman;"> <img class="col-2" src="/images/BankLogo.jpg" width="200px" height="70px" /> UNITY BANK</h1>
    </div>
 <div class="container">
    <div class="row justify-content-center mt-lg-5 ">
<!--        heading for form-->
        <h4 class="text-center display-5 text-danger bg-info rounded-5  ">Customer Login Portal</h4>
        <div id="fm" class="col-lg-6 col-sm-10 align-self-center shadow rounded-5 p-5">
<!--            security-link which page form is present-->
            <form id="loginForm" th:action="@{/web/log}" method="post">
                <div class="form group">
<!--                  field for customer id-->
                    <label class="required">Customer Username</label>
                    <input type="text" placeholder="Customer username" name="username" id="username" class="form-control"  onclick="validateForm()"  required/>
                    <div id="error-message"></div>
                </div>

                <div class="form group">
<!--                    field for customer pin-->
                    <label class="required">Customer PIN</label>
                    <input type="password" placeholder="Customer PIN" name="password"  id="password" onclick="numberValidationFunc()" class="form-control"  autocomplete="off" required/>
                    <p id="error"></p>
                </div>
<!--                messages to be displayed if login doen't happen-->
                <div th:if="${param.error}">
                    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                </div>
                <div class="row justify-content-around mt-3">
<!--                    submit and reset button-->
                    <button class="col-2 btn btn-outline-info" type="submit" id="btn">
<!--                   i-frame bootstrap for icons -->
                        <i class="bi bi-person-fill-add"></i>
                    </button>
                    <button class="col-2 btn btn-outline-warning" type="reset">
<!--                        i-frame bootstrap for icons-->
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
<!--                    checkboxes for remember me-->
                    <aside>
                        <label><input type="checkbox" />Remember Me</label>
                    </aside>
                    <br>
<!--                    href for forgot password-->
                    <a href="#" class="forget">Forgot Password?</a>
                    <br>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
</body>
</html>
